<!-- Header component -->
<header></header>

<!-- Subpage header -->
<subpage [title]="title"></subpage>

<div class="row">

  <div class="columns small-5">

    <!-- Menu Component -->
    <menu></menu>

  </div>

  <div class="columns small-15 content">

    <section>

      <h1>Rodzic</h1>

      <p *ngIf="messageFromChild">
          Wiadomość od dziecka: <b>{{messageFromChild}}</b>
      </p>

      <div class="row">
        <div class="columns small-10">
          <input type="text" [(ngModel)]="message" placeholder="Wiadomość dla dziecka" />
        </div>

        <div class="columns small-5 end">
          <button (click)="sendMessage()">Prześlij</button>
        </div>
      </div>

      <section>

        <h1>Dziecko</h1>

        <childComponent
          [messageFromParent]="messageFromParent"
          (messageToParent)="recieve($event)"
          ></childComponent>

      </section>

    </section>




  </div>

</div>
