<!-- Header component -->
<header></header>

<!-- Subpage header -->
<subpage [title]="title"></subpage>

<div class="row">

    <div class="columns small-5">

        <!-- Menu Component -->
        <menu></menu>

    </div>

    <div class="columns small-10 end content">

        <div *ngIf="users.length > 0">

            <button (click)="sort()">Sortuj {{order.toUpperCase()}}</button>

            <!-- Users Table Component -->
            <usersTable [users]="users"></usersTable>

        </div>

    </div>

</div>
