<table class="users">
    <thead>
        <tr>
            <th>#</th>
            <th>Imię</th>
            <th>Wiek</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#user of users; #i = index">
            <td> {{i + 1}} </td>
            <td> {{user.name}} </td>
            <td> {{user.age}} </td>
        </tr>
    </tbody>
</table>
