<!-- Header component -->
<header></header>

<!-- Subpage header -->
<subpage [title]="title"></subpage>

<div class="row">

  <div class="columns small-5">

    <!-- Menu Component -->
    <menu></menu>

  </div>

  <div class="columns small-15 text-center content">
    <img src="https://angular.io/resources/images/logos/angular2/angular.png" />
  </div>

</div>
