<!-- Header component -->
<header></header>

<!-- Subpage header -->
<subpage [title]="title"></subpage>

<div class="row">

    <div class="columns small-5">

        <!-- Menu Component -->
        <menu></menu>

    </div>

    <div class="columns small-10 content end">

        <button (click)="get()" *ngIf="!users.length"> GET </button>

        <div *ngIf="users.length">

            <!-- Users Table Component -->
            <usersTable [users]="users"></usersTable>

            <button class="right" (click)="stash()">Zapisz do schowka</button>

        </div>

    </div>

</div>
