<!-- Header component -->
<header></header>

<!-- Subpage header -->
<subpage [title]="title"></subpage>

<div class="row">
  <div class="columns small-5">

    <!-- Menu Component -->
    <menu></menu>

  </div>

  <div class="content columns small-15">

    Parametry URL: <br><br>

    <ul>
      <li>ID: {{id}}</li>
      <li>Foo: {{foo}}</li>
    </ul>

    Przejdź do <a (click)="goToForm()">Formularza</a>.

  </div>

</div>
