<!-- Header component -->
<header></header>

<!-- Subpage header -->
<subpage [title]="title"></subpage>

<div class="row">

  <div class="columns small-5">

    <!-- Menu Component -->
    <menu></menu>

  </div>

  <div class="columns small-15 content">

    <p> Status walidacji: <b [ngClass]="{'green': sampleForm.valid }">{{sampleForm.valid}}</b> </p>

    <form [ngFormModel]="sampleForm">

      <label for="input"> Input </label>
      <input type="text" id="input" placeholder="Foo" ngControl="input" #input="ngForm" />

      <p *ngIf="input.errors && input.touched" class="red">
        <span *ngIf="input.errors.notFoo">Wprowadź "Foo"</span>
      </p>

      <label for="textarea">
        Textarea <span class="red">*</span>
      </label>

      <textarea name="textarea" id="textarea" rows="6" cols="30" ngControl="textarea" #textarea="ngForm" required></textarea>

      <p *ngIf="textarea.errors && textarea.touched" class="red">
        <span *ngIf="textarea.errors.required">To pole jest wymagane</span>
      </p>

      <label for="select"> Select </label>

      <select id='select' ngControl="select" #select="ngForm">
    		<option value="Lorem">Lorem</option>
    		<option value="Ipsum">Ipsum</option>
    		<option value="Ipsum">Dolor</option>
    		<option value="Ipsum">Sit amet</option>
    		<option value="Ipsum">Consectetur</option>
    	</select>

      <label for="checkbox"> Checkbox </label>
      <input type="checkbox" id="checbox" ngControl="checkbox" #checkbox="ngForm" /> <br>

      <button type="button" (click)="displayFormResults()">Button</button>

    </form>

    <div *ngIf="formResults.show">

      <hr size='1' />

      <div class="row">
        <div class="columns small-3"> <b>Input:</b> </div>
        <div class="columns small-17"> {{formResults.input}} </div>
      </div>

      <div class="row">
        <div class="columns small-3"> <b>Textarea:</b> </div>
        <div class="columns small-17"> {{formResults.textarea}} </div>
      </div>

      <div class="row">
        <div class="columns small-3"> <b>Select:</b> </div>
        <div class="columns small-17"> {{formResults.select}} </div>
      </div>

      <div class="row">
        <div class="columns small-3"> <b>Checkbox:</b> </div>
        <div class="columns small-17"> {{formResults.checkbox}} </div>
      </div>

    </div>

  </div>

</div>
