<!-- Header component -->
<header></header>

<!-- Subpage header -->
<subpage [title]="title"></subpage>

<div class="row">

  <div class="columns small-5">

    <!-- Menu Component -->
    <menu></menu>

  </div>

  <div class="columns small-15 content text-center">

    <span biggie>hello directives!</span>

  </div>

</div>
