<nav>

  <ul>

    <li>
      <a [routerLink]="['/Home']">Start</a>
    </li>

    <li>
      <a [routerLink]="['/Params', { id: 1, foo: 'Bar' } ]">Routing</a>
    </li>

    <li>
      <a [routerLink]="['/Form']">Formularz</a>
    </li>

    <li>
      <a [routerLink]="['/Directive']">Dyrektywy</a>
    </li>
    <li>
      <a [routerLink]="['/Http']">Http</a>
    </li>
    <li>
      <a [routerLink]="['/Services']">Serwisy</a>
    </li>
    <li>
      <a [routerLink]="['/Dataflow']">Data Flow</a>
    </li>
    <li>
      <a [routerLink]="['/Pipes']">Pipes</a>
    </li>
  </ul>

</nav>
