<p *ngIf="messageFromParent">
  Wiadomość od rodzica: <b>{{messageFromParent}}</b>
</p>

<div class="row">
  <div class="columns small-10">
    <input type="text" [(ngModel)]="message" placeholder="Wiadomość dla rodzica" />
  </div>

  <div class="columns small-5 end">
    <button (click)="sendMessage()">Prześlij</button>
  </div>
</div>
