<!-- Header component -->
<header></header>

<!-- Subpage header -->
<subpage [title]="title"></subpage>

<div class="row">

  <div class="columns small-5">

    <!-- Menu Component -->
    <menu></menu>

  </div>

  <div class="columns small-15 content">

    <!-- <ul>
      <li *ngFor="#item of data"> {{item | bytesConverter:"hello" }} </li>
    </ul> -->

    <div class="row">

      <div class="columns small-6 end">
        <input type="number" [(ngModel)]="value" placeholder="Bytes" />
      </div>

    </div>

    <ul>
      <li> {{ value | bytesConverter:"kb"}} Kb </li>
      <li> {{ value | bytesConverter:"mb"}} Mb </li>
      <li> {{ value | bytesConverter:"gb"}} Gb </li>
      <li> {{ value | bytesConverter:"tb"}} Tb</li>
    </ul>

  </div>

</div>
