$light-grey: #e6e6e6;
$grey: #4e4e4e;
$angularRed: #c30e2e;
$green: green;

h1 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

menu {

  padding: 0;

  ul {
    li {
      padding-bottom: 5px;
    }
  }

  .active {
    color: yellow;
  }

}

button {
  background: $angularRed;
  color: #fff;
  padding: 13px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

table {
  &.users {
    font-size: 0.75rem;
    margin-top: 1rem;
  }
}

hello {
  .loading {
    display: block;
    padding: 10px;
    font-size: 0.75rem
  }
}

subpage {
  font-size: 0.75rem;

  display: block;

  .columns {
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

}

.content {
  font-size: 0.75rem;
  padding-top: 10px;
}

.red {
  color: $angularRed;
}

.green {
  color: $green;
}

.biggie {
  font-size: 3rem;
}

.right {
  float: right;
}

section {
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed $grey;
  padding: 35px 20px 10px 20px;
  margin-top: 25px;

    h1 {
      display: block;
      background: #fff;
      font-size: 1.5rem;
      position: absolute;
      padding: 0 10px 0 10px;
      margin-top: -53px;
    }

    > section {
      margin-bottom: 10px;
    }

}
